<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleDisplayName</key>
	<string>Xeleqt_drive</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>$(MARKETING_VERSION)</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleVersion</key>
	<string>$(CURRENT_PROJECT_VERSION)</string>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<false/>
		<key>NSAllowsLocalNetworking</key>
		<true/>
	</dict>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string/>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>arm64</string>
	</array>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>UIViewControllerBasedStatusBarAppearance</key>
	<false/>
	<key>UIAppFonts</key>
	<array>
		<string>Karla-Bold.ttf</string>
		<string>Karla-BoldItalic.ttf</string>
		<string>Karla-ExtraBold.ttf</string>
		<string>Karla-ExtraBoldItalic.ttf</string>
		<string>Karla-ExtraLight.ttf</string>
		<string>Karla-ExtraLightItalic.ttf</string>
		<string>Karla-Italic.ttf</string>
		<string>Karla-Light.ttf</string>
		<string>Karla-LightItalic.ttf</string>
		<string>Karla-Medium.ttf</string>
		<string>Karla-MediumItalic.ttf</string>
		<string>Karla-Regular.ttf</string>
		<string>Karla-SemiBold.ttf</string>
		<string>Karla-SemiBoldItalic.ttf</string>
		<string>LexendDeca-Black.ttf</string>
		<string>LexendDeca-Bold.ttf</string>
		<string>LexendDeca-ExtraBold.ttf</string>
		<string>LexendDeca-ExtraLight.ttf</string>
		<string>LexendDeca-Light.ttf</string>
		<string>LexendDeca-Medium.ttf</string>
		<string>LexendDeca-Regular.ttf</string>
		<string>LexendDeca-SemiBold.ttf</string>
		<string>LexendDeca-Thin.ttf</string>
		<string>Quicksand-Bold.ttf</string>
		<string>Quicksand-Light.ttf</string>
		<string>Quicksand-Medium.ttf</string>
		<string>Quicksand-Regular.ttf</string>
		<string>Quicksand-SemiBold.ttf</string>
		<string>SourceSans3-Black.ttf</string>
		<string>SourceSans3-BlackItalic.ttf</string>
		<string>SourceSans3-Bold.ttf</string>
		<string>SourceSans3-BoldItalic.ttf</string>
		<string>SourceSans3-ExtraBold.ttf</string>
		<string>SourceSans3-ExtraBoldItalic.ttf</string>
		<string>SourceSans3-ExtraLight.ttf</string>
		<string>SourceSans3-ExtraLightItalic.ttf</string>
		<string>SourceSans3-Italic.ttf</string>
		<string>SourceSans3-Light.ttf</string>
		<string>SourceSans3-LightItalic.ttf</string>
		<string>SourceSans3-Medium.ttf</string>
		<string>SourceSans3-MediumItalic.ttf</string>
		<string>SourceSans3-Regular.ttf</string>
		<string>SourceSans3-SemiBold.ttf</string>
		<string>SourceSans3-SemiBoldItalic.ttf</string>
	</array>
</dict>
</plist>
